/** @format */

.cart-container {
	min-width: 500px;
	width: 80%;
	margin: 50px auto;
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.cart-container .cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.cart-item img {
	border-radius: 10px;
	max-width: 125px;
	margin-right: 20px;
}

.cart-item-info {
	flex-grow: 1;
}

.cart-item-title {
	font-size: 18px;
	margin-bottom: 10px;
}

.cart-item-price {
	color: #333;
}

.quantity-adjust {
	display: flex;
	align-items: center;
}

.quantity-adjust button {
	background-color: #fafafa;
	color: rgb(0, 0, 0);
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 16px;
}

.quantity-adjust button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.quantity-adjust input {
	width: 40px;
	text-align: center;
	border: 1px solid #ddd;
	margin: 0 10px;
	font-size: 16px;
}

.cart-summary {
	display: flex;
	height: 75px;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-top: 20px;
	padding: 10px;

	text-align: right;
}

.total-price {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
