/** @format */

.filter-main {
	display: flex;
	gap: 20px;
}

.filters {
	display: flex;
	flex-direction: column;
	width: 16%;
}
.range-container {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-top: 50px;
}

input[type="range"] {
	width: 100%;
	/* margin: 20px; */
}

#rangeValue {
	font-size: 18px;
	font-weight: bold;
}

/* Color Filter Styling */
.color-filters {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: start;
}

.color-filters label {
	font-size: 16px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.color-filters input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	accent-color: #45413e; /* Change the color of the checkbox */
}

.filter-main .flex-card {
	padding: 20px 30px;
	column-gap: 40px;
}
.filter-main .flex-card .product-card {
	width: 220px;
	scale: 0.9;
}

.category-filters,
.brand-filters,
.size-filters {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: start;
}

.size-filters {
	display: flex !important;
	flex-direction: row;
}

.category-filters label,
.brand-filters label,
.size-filters label {
	font-size: 16px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.category-filters input[type="checkbox"],
.brand-filters input[type="checkbox"],
.size-filters input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	accent-color: #45413e; /* Same checkbox style for consistency */
}
