/** @format */

.card-large,
.card-med {
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;

	transition: var(--hover-timing);
	cursor: pointer;
}

.card-large {
	box-shadow: var(--card-shadow);
	border-radius: 12px;
	overflow: hidden;
	height: 600px;
	/*    padding-bottom: 32px;*/
}

.card-large:hover {
	box-shadow: var(--card-hover);
	transform: scale(1.01);
}

.card-med:hover .card-image {
	transform: scale(1.01);
}

.card-image {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: var(--hover-timing);
}

.card-large > .card-image {
	aspect-ratio: 3/2;
}

.card-image > img {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	z-index: -1;
	opacity: 0.9;
}

.card-large > .card-image > a {
	text-decoration: none;
	font-weight: 600;
}

.card-large > .card-image > a {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	font-size: 24px;
	line-height: 1.2;
}

.card-large > .card-image > ul {
	/*    padding: 16px 0 24px;*/
	display: flex;
	flex-direction: column;
	grid-gap: 8px;
	flex: 1;
	/*    border: 1px solid blue;*/

	color: var(--text-01);

	padding: 0 40px 40px;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.5;
}

.card-large > .card-image > ul > li a {
	line-height: 32px;
	font-size: 14px;
	/*    border: 1px solid red;*/
}

.card-large#sup-dog,
.card-med#sup-dog > .card-image {
	/* background: linear-gradient(45deg, #463631 0%, #976c5b 100%); */
}

.card-large.card-dark a,
.card-large.card-dark > ul {
	color: var(--text-01);
}

.card-large.card-light a,
.card-large.card-light > ul {
	color: var(--light-01);
}

section.hero {
	min-height: 60vh;
	height: fit-content;
	padding: 0 40px;

	display: flex !important;

	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

.btn-group {
	display: flex;
	flex-direction: row;
	grid-gap: 16px;
}

section.hero h1 {
	font-size: var(--hero-text);
	font-weight: 600;
	line-height: 1.2;
	width: 80%;
	margin-bottom: 3rem;

	color: var(--text-01);
}

.card-med {
	width: var(--nav-card-size);
	height: auto;
	border: 1px solid green;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.card-med > a {
	display: flex;
	flex-direction: column;
	grid-gap: 4px;
	padding: 12px 16px 0px;
}

.card-med > a > span {
	width: 100%;
	border: 1px solid blue;
}

.card-med > a > span:nth-of-type(1) {
	width: 100%;
	border: 1px solid blue;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.2;
}

.card-med > a > span:nth-of-type(2) {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-gap: 6px;
}
*/ .card-med > a > span:nth-of-type(2) > span {
	font-size: 18px;
}

#serv-groom > .card-image {
	background: linear-gradient(45deg, #45828c 0%, #a7d4d8 100%);
}

#serv-board > .card-image {
	background: linear-gradient(45deg, #eddaa9 0%, #b87d93 100%);
}

.card-med:hover .card-image {
	box-shadow: var(--card-hover);
}

.card-med > .card-image {
	box-shadow: var(--card-shadow);
}

.card-med > .card-image > img {
	width: 80%;
	height: 80%;
	/*    border: 1px solid red;*/
}

.card-wide {
	flex-direction: row;
	padding: 0;
}

.card-wide .card-image {
	width: 50%;
	border-radius: 0;
}

.card-wide > ul {
	padding: 40px;
}

.card-wide > ul > li {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	grid-gap: 24px;
	margin-bottom: 16px;
}

.card-wide .subtitle {
	font-size: 14px;
	line-height: 1.4;
	font-weight: 500;

	margin-bottom: 24px;
}

.card-wide > ul > li span {
	font-size: 16px;
}

.card-large > ul > li:last-of-type {
	margin-bottom: 40px;
}

.card-large .btn {
	margin-top: auto;
}

.flex-card {
	overflow-y: scroll;
	justify-self: center;
	align-self: center;
	display: flex;
	gap: 4rem;
	width: 100%;
	min-width: fit-content;
	flex-wrap: wrap;

	padding: 20px 60px;
	background-color: #dfdada;
	border-radius: 20px;
	height: 75vh;
}

.product-container {
	padding: 1rem 0 5rem;
	display: flex;
	overflow-x: scroll;
	scroll-behavior: smooth;
	column-gap: 20px;
	position: relative;
}
.product-container::-webkit-scrollbar {
	display: none;
}
.product-category {
	text-transform: capitalize;
}
.product-card {
	flex: 0 0 auto;
	width: 250px;
	/* height: 450px; 2-ci sehv Height yazmagim */
	transition: transform 0.4s;
}
.product-card:hover {
	transform: scale(1.1);
}
.product-img {
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 1rem;
}
.cart-tag {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
	padding: 2px;
}
.discount-tag {
	z-index: 1;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	color: #ff7d7d;
	text-transform: capitalize;

	/* box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75); */
	/* -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75); */
	/* -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75); */
}

.whislist-btn {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -100%;
	z-index: 1;
	padding: 14px 20px;
	width: 90%;
	margin-inline: auto;
	display: grid;
	place-content: center;
	background-color: #fff;
	border-radius: 10px;
	cursor: pointer;

	box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
	transition: bottom 0.5s;
}
.product-img:hover .whislist-btn {
	bottom: 10px;
}
.whislist-btn p {
	color: black;
	align-self: center;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 15px;
	margin: 0;
}
.whislist-btn p:hover {
	color: #ff7d7d;
}
.card-texts {
	margin: 0 1rem 0 0.5rem;
}

.card-texts h1 {
	font-size: 1.3rem;
	margin-bottom: 0.75rem;
	color: black;
}
.card-texts p {
	color: black;
	font-size: 15px;
	margin-bottom: 0.5rem;
	opacity: 0.5;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.card-texts h2 {
	color: black;
	font-size: 20px;
	font-weight: 900;
}
.card-texts h2 > span {
	opacity: 0.5;
	text-decoration: line-through;
	margin-left: 10px;
	font-size: 1rem;
	font-weight: 500;
}

.women_collect,
.men_collect,
.accessour {
	position: relative;
}
.women_collect h1,
.men_collect h1,
.accessour h1 {
	position: absolute;
	top: 35%;
	left: 25%;
	right: 25%;
	text-align: center;
	color: white;
	font-size: 2rem;
	font-weight: 400;
}
