/** @format */

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./slider.css");
@import url("./navbar.css");
@import url("./mediaQuery.css");
@import url("./productCard.css");
@import url("./cart.css");
@import url("./home.css");
@import url("./filterpage.css");
@import url("./contectstyle.css");

:root {
	--text-01: #45413e;
	--light-01: #f9f9f9;
	--light-02: #ffffff;
	--brand-01: #db7f67;
	--brand-02: #f4cfc6;
	--card-hover: 0px 4px 24px rgba(0, 0, 0, 0.15);
	--card-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	--hover-timing: all 0.2s ease;
	--nav-card-size: 240px;

	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}
html {
	scroll-behavior: smooth;
}

* {
	/* border: 1px solid red; */
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Spartan", sans-serif;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
body {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	transition: var(--hover-timing);

	background: var(--light-01);

	width: 100vw;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

.icone {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}
.search-icone {
	background-image: url("../images//icones/Search\ Icons\ \(1\).svg");
}

.cart-icone {
	height: 35px;
	width: 35px;
	background-image: url("../images/icones/Shopping\ cart\ Icons.svg");
}

.left-icone {
	background-image: url("../images/icones/Chevron\ left\ Icons.svg");
}
.right-icone {
	background-image: url("../images/icones/Ic\ Icons.svg");
}

.calendar-icone {
	background-image: url("../images/icones/Event\ Icons.svg");
}
.contact_support-icone {
	background-image: url("../images/icones/Contact\ support\ Icons.svg");
}

.pin_drop-icone {
	background-image: url("../images/icones/Pin\ drop\ Icons.svg");
}

.like-icone {
	background-image: url("../images/icones/Like\ Icons.svg");
}
.delete-icone {
	margin-left: 20px;
	background-image: url("../images/icones/Delete\ Icons.svg");
}
.order-icone {
	background-image: url("../images/icones/Order\ Icons.svg");
}

.btn.btn-outline {
	color: var(--light-01);
	border-color: var(--light-01);
}

.btn {
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	padding: 12px 24px;
	border-radius: 48px;
	display: flex;
	flex-direction: row;
	grid-gap: 8px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.btn.btn-outline-light {
	color: var(--light-01);
	background: none;
	color: var(--light-01);
	border: 2px solid var(--light-01);
}

.btn.btn-outline-dark {
	color: var(--text-01);
	background: none;
	color: var(--text-01);
	border: 2px solid var(--text-01);
}

.btn.btn-filled-dark {
	color: var(--light-01);
	background: var(--text-01);
	color: var(--light-01);
	border: 2px solid var(--text-01);
}

.btn-outline-dark:hover {
	background: var(--text-01);
	border: 2px solid var(--text-01);
}

.btn-outline-light:hover {
	background: var(--light-01);
	border: 2px solid var(--light-01);
	color: var(--text-01);
}

.btn:hover,
.btn-outline-dark.btn-hover-color:hover {
	color: var(--light-01);
	border: 2px solid var(--brand-01);
	background: var(--brand-01);
	transition: var(--hover-timing);
	box-shadow: var(--card-hover);
}

section,
footer {
	position: relative;
	width: 100%;
	padding: 0 var(--pg-margin);
}

section:not(.hero) {
	padding: calc(var(--pg-margin) / 2) var(--pg-margin);
}

section h2 {
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;

	color: var(--text-01);
	margin-bottom: 32px;
}

#locate > div {
	background: var(--brand-02);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px 0;
	border-radius: 12px;
	box-shadow: var(--card-shadow);
	transition: var(--hover-timing);
	cursor: pointer;
}

#locate > div:hover {
	box-shadow: var(--card-hover);
}

#locate h2 {
	margin-top: 0;
}

#locate p {
	line-height: 1.5;
	margin-bottom: 40px;
	width: 50%;
	text-align: center;
}

.btn-group {
	display: flex;
	flex-direction: row;
	grid-gap: 16px;
}

footer {
	display: flex;
	justify-content: space-between;
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: var(--text-01);
	padding: 80px 80px 0px;
	margin-top: 80px;
}

.footer-logo {
	width: 70px;
	height: 70px;
	margin-bottom: 20px;
}

footer .col {
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
	color: var(--light-01);
}

footer ul {
	display: flex;
	color: var(--light-01);
	flex-direction: column;
	grid-gap: 24px;
	box-shadow: none;
	flex: 1;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 80px;
}

footer ul li a {
	color: var(--light-01);
	text-decoration: none;
	font-size: 14px;
}

footer ul li {
	color: var(--light-01);
	padding: 0;
}

footer .copyright {
	color: var(--light-01);
	width: 100%;
	text-align: center;
}
footer .follow i:hover,
footer a:hover {
	color: #088178;
}

footer h4 {
	font-size: 14px;
	padding-bottom: 20px;
}

footer p {
	font-size: 13px;
	margin: 0 0 8px 0;
}

footer a {
	font-size: 13px;
	text-decoration: none;
	color: #222;
	margin-bottom: 10px;
}

footer .follow {
	margin-top: 20px;
}

footer .follow i {
	color: #465b52;
	padding-right: 4px;
	cursor: pointer;
	font-size: 25px;
}

footer .devloper-btn {
	border: 3px solid #465b52;
	border-radius: 10px;
	padding: 10px 20px;
	color: red;
	font-size: 17px;
}
